body{background-color: #a7a1a1;}
#footer {
    color: rgb(6, 6, 41);
    font-family: "Times New Roman", serif;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;}
    
nav{
        margin: 7px;
        padding: 7px;
        overflow: hidden;
        background-color: #333;
        display: block;
    }
       

.horizontal_bar a{
    display: inline; /* horizontal menu */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(250, 236, 236);
    text-align: center;
    padding: 3px;/*αλλάζεις το πάχος του main bar*/
    text-decoration: none;
    float: left; 
}

.horizontal_bar a {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.horizontal_bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#Games_2b_Pro{
    margin-left: 280px;/* αλλάζεις πόσο μακριά θα είνα από το search bar αριστερά του*/
    color: rgb(250, 236, 236);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;}

.menu a{
    display: block; /* για το κατακόρυφο μενού */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(250, 236, 236);
    text-align: left;
    padding: 15px;/*αλλάζεις το πάχος του menu bar*/
    text-decoration: none;
    float: left;
    border-bottom: 1px solid white;
}

.menu a:last-child{
    border-bottom: none;
}

.menu {/*για το κατακόρυφο μενού*/
    display: flex;
    flex-direction: column;
    min-width: 159.5px;
    width: 159.5px;
    border-radius: 5px;
}
nav a:hover
      {
          background: rgb(153,153,153);
          color: #0a0a0a;
      }
    
.active {
        background-color: #04AA6D;
      }
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
#searchbar {
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        width: 25%;
        box-sizing: border-box;
        margin-left: 200px; /*αλλάζεις πόσο κοντά είναι στο αριστερό μέρος της σελίδας.*/
        margin-right: 40px;
        min-width: 150px;
    }
    
#list { 
        position:absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        left: 0px;
        margin-left: -175px;/*Εδώ αλλάζεις πόσο θα είναι τα προϊόντα που βγαίνουν από κάτω από το searchbar μακριά από τοίχο; φάση*/
        top: 100px;
    }
    
.Games {
        display: none;
        color: rgb(157, 210, 107);
        font-size: 1.2em;
        padding: 7px;
        border-bottom: 1px solid #302a2a;
        animation: fadeIn 0.5s ease-in-out;
        margin-left: 500px;
        background-color: rgb(48, 45, 45);/*χρώμα κουμπιού*/
        border-radius: 2px;
        width: 160px;
    }
    
.Games:last-child {
        border-bottom: none;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
    
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

#description{
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", serif;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    flex-grow: 1;
    text-align: left;
    text-indent: 20px;
    padding: 10px;
    padding-top: 5px;
    margin-right: 200px;

}  

#paragraph_next-to-menu{
    display: flex;
    gap: 100px;
}

#Headline_above_paragraph{
    display: block;
    gap: 10px;
}

#Headline{
    padding-left: 270px;
    padding-top: 40px;
}

#flex_g-v{
    display: flex;
}

#games2bpro{
    margin-left: 55px;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    color: rgb(127, 52, 52);
    border-right: 2px solid rgb(143, 98, 98); 
    margin-top: 35px;
    border-left: 2px solid rgb(143, 98, 98);
    padding-left: 7px;
    padding-right: 7px;
}

#img_videogames{
    display: block;
    margin-left: 260px;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
}

#bb{
    color: rgb(161, 85, 85);
}

#video-videogames{
    display: block;
    margin-left: 330px;
    margin-right: auto;
    margin-top: 110px;
    border-radius: 8px;
}

#block_v-v{
    display: block;
}

.homepg {
    max-height:40px;
}

aside {
    min-width: 170px;
    width: 20%;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    background-color: none;
  }


.orgs {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-evenly;
    max-width: 100%;
    margin-right: 70px;
}

.org {
	flex-basis: calc(33.3%-10px);
    margin-bottom: 20px;
	background-color: #ffffff00;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(111, 0, 255, 0.3);
    
}

.org img {
	max-width: 520px;
}


section h1{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align:center;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 140px;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    
}

.menu_index a{
    display: block; /* για το κατακόρυφο μενού */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(250, 236, 236);
    text-align: left;
    padding: 15px;/*αλλάζεις το πάχος του menu bar*/
    text-decoration: none;
    float: left;
    border-bottom: 1px solid white;
}

.menu_index a:last-child{
    border-bottom: none;
}

.menu_index {/*για το κατακόρυφο μενού*/
    display: flex;
    flex-direction: column;
    min-width: 159.5px;
    width: 600px;
    border-radius: 5px;
}

#games2bpro1{
    margin-left: 55px;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    color: rgb(127, 52, 52);
    border-right: 2px solid rgb(143, 98, 98); 
    margin-top: 35px;
    border-left: 2px solid rgb(143, 98, 98);
    padding-left: 7px;
    padding-right: 7px;
}

.tables{
        border: 2px solid rgb(93, 161, 38);
        border-collapse: collapse;
}

#contact_button{
    margin-left: 500px;
    padding: 10px;
}

#buttonss{
    text-align: center;
}

#block1{
    display: block;
    margin-top: -110px;
    margin-left: 220px;
}

#start_button{
    padding: 20px;
    margin-top: 80px;
    margin-left: 200px;
    background-color: rgb(120, 106, 106);
    border-radius: 8px;
}

#questions{
    display: none;
    margin-top: 90px;
}

#center{
    margin-left: 310px;
}

#score_display{
    margin-left:750px;
}

#question_1{
    display: none;
}

#question_2{
    display: none;
    margin-top: 90px;
}

#question_3{
    display: none;
    margin-top: 90px;
}

#question_4{
    display: none;
    margin-top: 90px;
}

#question_5{
    display: none;
    margin-top: 90px;
}

#question_6{
    display: none;
    margin-top: 90px;
}

#button_style{
    background-color: #333; 
    color: #fff;           
    border: 2px solid #444; 
    padding: 10px 20px;    
    font-size: 16px;     
    border-radius: 5px;    
    cursor: pointer;      
}

#button_style:hover{
    background-color: #212121; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#button_style:active{
    box-shadow: none;      /* αφαιρεί την σκια */
}

.name{
    padding: 5px 12px;
}

.answer_buttons{
    background-color: #333; 
    color: #fff;           /* χρώμα γραμματοσειράς */
    border: 2px solid #444;
    padding: 7px 15px;    /* μέγεθος */
    font-size: 16px;   
    border-radius: 5px;  
    cursor: pointer;       /* κάνει το ποντίκι pointer */
    width: 220px;
}

.answer_buttons:hover{
    background-color: #212121; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.answer_buttons:active{
    box-shadow: none;      /* αφαιρεί την σκια */
}

#EmailButton{
    margin: 10px;
}

#table_style {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#table_style th, #table_style td {
    border: 1px solid #ddd;
    padding: 8px;
}

.gamepg {
    max-width: 80%;
    margin-left: 5%;
    
 } 
 
.gamepg th{
     margin: 7px;
     background-color: #333;
     padding: 10px;
     border: 5px solid #a7a1a1;
     border-collapse: collapse;
     border-radius: 30px;
     width: 28%;
 }
.gamepg h1{
     text-align: right;
     color: white;
     margin-top: 10px;
     margin-right: 10px;
     
 }
 
.gamepg h2{
     text-align: center;
     color: white;
 }

#product_center{
    margin-left: 36%;
}

.gamepg img{
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}
